@import "libs/bootstrap-reboot.min";
@import "libs/fonts";
@import "libs/animate";
@import "base/variables";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/title";
@import "blocks/work";
@import "blocks/insert";
@import "blocks/price";
@import "blocks/form";
@import "blocks/items";
@import "blocks/schema";
@import "blocks/reviews";
@import "libs/slick";
@import "blocks/questions";
@import "blocks/arrow";
@import "blocks/map";
@import "blocks/footer";
@import "blocks/scrollUp";
@import "blocks/modal";
@import "blocks/humburger";

* {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1140px;
    position: relative;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

@media (max-width: 1201px) {
    .container {
        width: 900px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 700px;
    }
}

@media (max-width: 776px) {
    .container {
        width: 500px;
    }
}

@media (max-width: 575px) {
    .container {
        width: 85%;
    }
}