@import "libs/bootstrap-reboot.min";
@import "libs/fonts";
@import "base/variables";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/title";

* {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1140px;
    position: relative;
    margin: 0 auto;
}
a {
    text-decoration: none;
}