.advantages {
    min-height: 590px;
    background-color: #f3f3f3;
    padding: 58px 0 15px 0;
    &__wrapper {
        margin-top: 32px;
        display: flex;
        justify-content: space-between;
    }
    &__column {
        display: flex;
        flex-direction: column;
    }
    &__icon {
        display: flex;
        padding-bottom: 36px;
        align-items: flex-start;
        width: 518px;
    }
    &__img {
        width: 64px;
        margin-right: 17px;
    }
    &__descr {
        font-size: 14px;
        font-weight: 400;
        color: #3a3a3a;
        span {
            font-size: 16px;
            font-weight: 700;
            color: $main-color;
            padding-bottom: 13px;
        }
    }
}

@media (max-width: 1201px) {
    .advantages{
        &__icon {
            width: 430px;
        }
        &__img {
            width: 60px;
            margin-right: 13px;
        }
        &__descr {
            font-size: 13px;
            span {
                font-size: 15px;
            }
        }
    }
}