.arrow {
    position: absolute;
    top: 30%;
    left: 54%;
	width: 310px;
    height: 158px;
	padding: 20px;
	background: $white-color;
	border-radius: 3px;   
	text-align: left;
    &__title {
        font-size: 16px;
        font-weight: 700;
        color: $main-color;
    }
    &__descr {
        font-size: 14px;
        font-weight: 300;
        color: #3a3a3a;
        span {
            margin-top: 2px;
            text-decoration: underline;
            color: $main-color;
        }
    }
}
.arrow:before {
	content: ""; 
	border: solid transparent;
	position: absolute;  
	right: 100%;
	top: 50%;
    transform: translateY(-50%);
	border-right-color: $white-color;
	border-width: 22px;
	margin-top: -1px;
}

@media ( max-width: 776px) {
    .arrow {
        width: 205px;
    }
}

@media ( max-width: 776px) {
    .arrow {
        width: 184px;
        top: 6%;
        left: 50%;
        transform: translateX(-50%);
        &__title {
            font-size: 14px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .arrow:before {
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        border: 18px solid transparent;
        border-top-color: white;
        border-bottom: 0;
    }
}