.footer {
    margin-top: -10px;
    min-height: 143px;
    padding: 24px 0 28px 0;
    background-color: #25333c;
    &__wrapper {
        width: 1170px;
        margin: 0 auto;
    }
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__devider {
        margin: 0 auto;
        margin-top: 26px;
        width: 100%;
        background-color: $white-color;
        height: 3px;
        opacity: 0.2;
    }
    &__bottom {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
        font-weight: 300;
    }
    &__year {
        opacity: 0.6;
        color: #ffffff;
    }
    &__politic {
        padding-right: 190px;
        text-decoration: underline;
        color: $main-color;
        cursor: pointer;
    }
    &__created {
        position: relative;
        padding-right: 40px;
        opacity: 0.6;
        line-height: 17px;
        color: #ffffff;
        img {
            position: absolute;
            top: -12px;
            right: 0px;
        }
    }
}
@media (max-width: 1201px) {
    .footer__wrapper {
        width: 900px;
    }
}

@media (max-width: 991px) {
    .footer__wrapper {
        width: 700px;
    }
}

@media (max-width: 776px) {
    .footer {
        padding: 15px 0 15px 0;
        &__wrapper {
            width: 90%;
        }
        &__devider {
            margin-top: 15px;
        }
        &__bottom {
            margin-top: 18px;
            font-size: 11px;
        }
        &__politic {
            padding-right: 0;
        }
    }
}