.form {
    margin: 0 auto;
    margin-top: 55px;
    &__header {
        margin-bottom: 71px;
        text-align: center;
        font-size: 28px;
        line-height: 1;
        font-weight: 400;
        color: #3a3a3a;
    }
    &__wrapper {
        position: relative;
        padding-bottom: 40px;
        width: 100%;
        min-height: 166px;
        border: solid #898989;
        border-width: 1px 3px 1px 3px;
        &_questions {
            padding: 15px 0 25px 0;
            width: 100%;
            min-height: 230px;
            background-color: rgba($color: $white-color, $alpha: .7);
        }
    }
    &__imgWrapper {
        padding: 0 10px 0 10px;
        background-color: $white-color;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__img {
        width: 102px;
        height: 102px;
        border: 1px solid $main-color;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__form {
        margin: 0 auto;
        margin-top: 66px;
        width: 822px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &_questions {
            margin-top: 0;
        }
    }
    &__input {
        display: flex;
        flex-direction: column;
        text-align: center;
        input {
            padding-left: 26px;
            width: 270px;
            height: 47px;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 25px;
        }
        textarea {
            padding-left: 26px;
            margin-top: 8px;
            width: 820px;
            height: 73px;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 10px;
            resize: none;
        }
    } 
    &__button {
        margin: 0 auto;
        margin-top: 20px;
        &_paddingWhite { 
            position: absolute;  
            bottom: -23px;
            left: 50%;
            transform: translateX(-50%);
            padding: 0 10px 0 10px;
            background-color: white;
        }
    }
}

@media (max-width: 1201px) {
    .form {
        width: 592px;
        &__wrapper {
            margin: 0 auto;
        }
        &__form {
            flex-direction: column;
            width: 100%;
        }
        &__input {
            margin: 0 auto;
            margin-top: 10px;
            width: 400px;
            input {
                width: 100%;
            }
            textarea {
                width: 100%;
            }
        }
    }
}

@media (max-width: 776px) {
    .form {
        width: 460px;
        &__header {
            font-size: 22px;
        }
        &__input {
            width: 350px;
            font-size: 13px;
            input {
                height: 40px;
            }
        }
    }
}

@media (max-width: 575px) {
    .form {
        width: 80%;
        margin-top: 40px;
        &__form {
            margin-top: 40px;
            &_questions {
                margin-top: 0;
            }
        }
        &__wrapper {
            padding: 5px 0 30px;
            &_questions {
                padding-bottom: 15px;
            }
        }
        &__input {
            width: 80%;
            font-size: 12px;
            input {
                padding-left: 15px;
                height: 29px;
            }
            textarea {
                padding-left: 15px;
            }
        }
        &__header {
            margin-bottom: 50px;
            font-size: 15px;
        }
        &__img {
            width: 74px;
            height: 74px;
        }
        &__button {
            margin-top: 15px;
            &_paddingWhite {
                bottom: -16px;
            }
        }
    }
    
    .error {
        font-size: 12px;
    }
}