.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 96px;
        &_footer {
            width: 68px;
        }
        img {
            width: 100%;
        }
    }
    &__descr {
        align-self: center;
        margin-right: 230px;
        font-size: 16px;
        font-weight: 700;
        color: $white-color;
    }
    &__menu {
        width: 600px;
        ul {
        display: flex;
        justify-content: space-between;
            li {
                list-style-type: none;
                padding-right: 11px;
                border-right: 1px dotted rgba($color: $white-color, $alpha: .4);
                a {
                    color: $white-color;
                    font-size: 15px;
                    font-weight: 400;
                }
                a:hover {
                    color: $main-color; 
                }
            }
            li:nth-child(6) {
                padding-right: 0;
                border-right: none;
            }
        }
    }
    &__contacts {
        width: 340px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__question {
        color: $white-color;
        font-size: 14px;
        font-weight: 300;
        text-align: right;
    }
    &__phone {
        color: $white-color;
        font-family: Roboto;
        font-size: 19px;
        font-weight: 700;
        &:hover {
            color: $white-color;
        }
    }
}

@media (max-width: 1201px){
    .header {
        &__logo {
            width: 78px;
        }
        &__menu {
            width: 440px;
            ul{
                padding-left: 0;
                li {
                    padding-right: 4px;
                    line-height: 1;
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
        &__contacts {
            width: 300px;
        }
        &__phone {
            font-size: 16px;
        }
        &__descr {
            margin-right: 60px;
        }
    }
}