.insert {
    min-height: 325px;
    padding: 58px 0 75px 0;
    background: url(../img/bg/bg_s3.jpg) center (center/cover) no-repeat;
    box-shadow: inset 860px 150px 100px 0 rgba(35, 30, 44, 0.4), inset 0 -150px 70px 50px rgba(196, 188, 209, 0.4);
    &__img {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 102px;
        height: 102px;
        border: 1px solid #ffffff;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        img {
            margin: 21px 0 30px 0;
            width: 48px;
            height: 51px;
        }
    }
}
.insert_manager {
    height: 342px;
    padding: 58px 0 75px 0;
    background: url(../img/bg/bg_s5.jpg) center (center/cover) no-repeat;
    box-shadow: inset 860px 150px 100px 0 rgba(35, 30, 44, 0.4), inset 0 -150px 70px 50px rgba(196, 188, 209, 0.4);
}

@media (max-width: 1201px) {
    .insert {
        padding: 50px 0 60px 0;
    }
}

