.price {
    padding: 53px 0 58px 0;
    min-height: 952px;
}
.price-card {
    margin: 34px 0 55px 0;
    display: flex;
    justify-content: space-between;
    &__wrapper {
        position: relative;
        width: 267px;
        height: 357px;
        border: 1px solid #e9e9e9;
        box-sizing: border-box;
    }
    &__face {   
        display: none;
        padding: 0px 12px;
        flex-direction: column;
        align-items: center;
        &_active {
            display: flex;
        }
    }
    &__title {
        text-align: center;
        padding-top: 24px;
        margin: 0;
        height: 61px;
        width: 100%;
        background-color: #25333c;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: $white-color;
    }
    &__img {
        margin-top: 14px;
        display: flex;
        justify-content: center;
    }
    &__deadline {
        margin-top: 12px;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: #2e2e2e;
    }
    &__price {
        margin-top: 6px;
        text-align: center;
        line-height: 1;
        font-size: 28px;
        color: $main-color;
        font-weight: 400;
    }
    &__descr {
        margin: 15px 0 20px 0;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #2e2e2e;
    }
    &__back {
        display: none;
        padding-top: 25px;
        font-size: 15px;
        font-weight: 400;
        color: #2e2e2e;
        &_active {
            display: block;
        }
    }
    &__list {
        list-style-type: none;
        li {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                background-color: $main-color;
                top: 9px;
                left: -13px;
            }
        }
    }
}

@media (max-width: 1201px) {
    .price-card {
        width: 592px;
        margin: 0 auto;
        flex-wrap: wrap;
        &__wrapper {
            margin-top: 25px;
        }
    }
}

@media (max-width: 991px) {
    .price-card {
        justify-content: space-around;
        &__wrapper {
            width: 245px;
            height: 330px;
        }
        &__title {
            height: 47px;
            padding-top: 15px;
            font-size: 15px;
        }
        &__deadline {
            margin-top: 8px;
        }
        &__price {
            font-size: 26px;
        }
        &__descr {
            margin: 15px 10px;
            font-size: 13px;
        }
        &__list {
            li {
                font-size: 14px;
                &::before {
                    top: 7px;
                }
            }
        }
    }
}

@media (max-width: 776px) {
    .price-card {
        width: 100%;
        &__wrapper {
            width: 230px;
            height: 295px;
        }
        &__deadline {
            font-size: 13px;
        }
        &__title {
            height: 40px;
            padding-top: 13px;
            font-size: 14px;
        }
        &__price {
            font-size: 22px;
        }
        &__descr {
            margin: 10px 0;
            font-size: 12px;
        }
        &__list {
            li {
                font-size: 12px;
                &::before {
                    top: 5px;
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .price-card {
        width: 90%;
        justify-content: center;
    }
}
