.promo {
    position: relative;
    min-height: 320px;
    padding: 23px 0 82px 0;
    background: url(../../img/bg/bg_1.jpg) center (center/cover) no-repeat;
    box-shadow: inset 0 0 0 1200px rgba(46, 46, 46, 0.7);
    &__header {
        margin: 9px 0 0 0;
        text-align: center;
        font-size: 24px;
        line-height: 1;
        font-weight: 300;
        color: $white-color;
    }
    &__subheader {
        margin-top: 25px;
        text-align: center;
        font-size: 72px;
        line-height: 0.8;
        font-weight: 700;
        text-transform: uppercase;
        color: $main-color;
    }
    &__descr {
        margin-top: 16px;
        text-align: center;
        font-size: 42px;
        line-height: 1;
        font-weight: 400;
        text-transform: uppercase;
        color: $white-color;
    }
    &__devider {
        width: 71%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 38px;
        margin-bottom: 27px;
        &_line {
            height: 2px;
            width: 48%;
            background-color: $white-color;
            opacity: .5;
        }
        &_point {
            height: 8px;
            width: 8px;
            background-color: $white-color;
            border-radius: 100%;
            opacity: .9;
        }
    }
}

@media (max-width: 1201px) {
    .promo {
        &__subheader {
            font-size: 60px;
        }
        &__descr {
            font-size: 30px;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        padding-bottom: 45px;
        padding-top: 15px;
        &__header {
            margin-top: 25px;
            font-size: 20px;
        }
        &__subheader {
            margin-top: 18px;
            font-size: 46px;
        }
        &__descr {
            font-size: 26px;
            margin-top: 12px;
        }
        &__devider {
            margin-top: 20px;
            margin-bottom: 17px;
        }
    }
}

@media (max-width: 776px) {
    .promo {
        .items {
            display: none;
        }
        &__header {
            font-size: 15px;
        }
        &__subheader {
            font-size: 32px;
        }
        &__descr {
            font-size: 18px;
        }
        &__devider {
            display: none;
        }
    }
}


@media (max-width: 575px) {
    .promo {
        &__header {
            font-size: 13px;
        }
        &__subheader {
            margin-top: 10px;
            font-size: 19px;
        }
        &__descr {
            font-size: 14px;
        }
    }
}