.title {
    text-align: center;
    margin: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: #2e2e2e;
    &_white {
        color: $white-color;
        text-transform: none;
    }
}
.divider {
    width: 148px;
    height: 1px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: $main-color;
}
.descr {
    width: 75%;
    margin: 0 auto;
    margin-top: 17px;
    font-size: 21px;
    line-height: 1.5;
    font-weight: 400;
    color: #2e2e2e;
    text-align: center;
    &_white {
        width: 90%;
        color: $white-color;
        font-family: Roboto;
        font-size: 19px;
    }
}

@media (max-width: 1201px) {
    .title {
        font-size: 25px;
    }
    .descr {
        font-size: 20px;
        &_white {
            font-size: 17px;
        }
    }
}

@media (max-width: 991px) {
    .title {
        font-size: 19px;
    }
    .descr {
        font-size: 15px;
        &_white {
            font-size: 13px;
        }
    }
}

@media (max-width: 776px) {
    .title {
        font-size: 16px;
    }
    .descr {
        font-size: 13px;
        &_white {
            width: 68%;
            font-size: 13px;
        }
    }
}